@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    color: white;
    font: Verdana;
    text-align: center;
    font-size: 40px;
}
.score {
    margin: auto ;
    color: #F94F6D;
    width: 155px;
    height: 120px;
    font-family: Cursed Timer ULiL, sans-serif;;
    font-size: 90px;
    background-color: black;
    text-align: center;
    }
    
nav {
        list-style-type: none;
        display: flex;
 }
    
button {
    
    border:#9AABD8 solid 2px;
    border-radius: 5px;
    background-color: #1B244A;
    margin-top: 30px;
    padding: 12px;
    font-family: Cursed Timer ULiL, sans-serif;
    color: #9AABD8;
}
button:active {
    color: azure
}
